In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for num in mylist:
    # check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [5]:
list_sum = 0 

for num in mylist:
    list_sum += num
    
print(list_sum)

55

In [8]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)
    
#use _ as letter when not using this variable

H
e
l
l
o

W
o
r
l
d

In [9]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [10]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [14]:
for a,b in mylist:
    print(a)
    #print(b)

1
3
5
7

In [15]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [16]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [17]:
for a,b,c in mylist:
    print(a+b+c)

6
18
27

In [25]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d:
    print(value)
    
for value in d.values():
    print(value)

1
2
3
1
2
3